* {
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-size: 25px;
}

body {
    background: linear-gradient(to bottom right,#33ccff 0%,#8c02e7 50%);
}

.login-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    border-radius: 10px;
    padding: 30px;
    background-color: #edf0f3;
}

.form-title {
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
}

.form-content {
    padding: 35px;
}

.form-input {
    border: none;
}

.form-content input {
    border-radius: 4px 4px 0px 0px;
    display: block;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid;
    background: none;
    outline: none;
    font-size: 20px;
    width: 100%;
}

.form-button a {
    text-decoration: none;
    color: rgb(14, 15, 15);
    font-weight: bolder;
    text-align: center;
}

.form-button {
    color: black;
    border-radius: 8px;
    background-color: #c5cacf;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    justify-content: center;
}

    .form-button:hover {
        transition: 2s;
        background-color: #33ccff;
    }

.form-body {
    font-size: 15px;
    border-top: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

    .form-body a {
        font-size: 15px;
    }

.form-subcontent {
    font-size: 20px;
    border-top: 1px solid;
    padding-top: 10px;
    text-align: center;
}

    .form-subcontent a {
        font-size: 20px;
        text-decoration: none;
        font-weight: bold
    }
