@{
    ViewData["Title"] = "Signup";
}
<link  rel="stylesheet" href="~/css/style-login.css" asp-append-version="true"/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="navber">
        <div class="login-form">
        <div class="form-container">
            <div class="form-title">Signup</div>
            <div class="form-content">
                <div class="form-input">
                    <input type="text" name="fName" placeholder="First name">
                    <input type="text" name="lName" placeholder="Last name" >
                    <input type="email" name="rEmail" placeholder="Email" >
                    <input type="text" name="rPhone" placeholder="Phone" >
                    <input type="password" name="rPassword" placeholder="password">
                </div>
                <center>
                    <div class="form-button">
                        <a href="#">Submit</a>
                    </div>
                </center>
                <div class="form-body">
                    By clicking the Sing Up button, <br> you agree to our <br><a href="#">Terms and Condition</a> and <a href="#">policy Privacy.</a>
                </div>
                <div class="form-subcontent">

                    Already have an account? 
                    <a asp-controller="Auth" asp-action="Login" >
                        Login</a>
                </div>
            </div>
        </div>
        </div>
</div>